<div id="app">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand p-0" >
			<img src="/assets/img/logo.png" width="200" height="50" alt="JavaChinna">
		</a>
		<ul class="navbar-nav mr-auto" routerLinkActive="active">
			<li class="nav-item"><a  class="nav-link" routerLink="home">Home </a></li>
			
			<li class="nav-item"><a  class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a></li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
			<li class="nav-item"><a  class="nav-link" routerLink="register">Sign Up</a></li>
			<li class="nav-item"><a  class="nav-link" routerLink="login">Login</a></li>
		</ul>
		<ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
			<li class="nav-item"><a  class="nav-link" routerLink="profile">{{ username }}</a></li>
			<li class="nav-item"><a href class="nav-link" (click)="logout()">LogOut</a></li>
		</ul>
	</nav>

<router-outlet></router-outlet>
