/*.full-width {
	width: 100%;
}

.login-container {
	max-width: 800px;
	margin: auto;
}

.login-input {
	font-size: 24px;
	font-family: verdana;
	color: #202080;
}

.login-header {
	font-size: 1em;
	font-family: verdana;
	color: #202080;
}

.error-message {
	font-size: 1em;
	font-family: verdana;
	color: #fff;
	background: #aa3030;
	padding: 20px;
	width: 100%;
	text-align: center;
}*/

label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .content-divider.center {
      text-align: center;
  }
  
  .content-divider {
      position: relative;
      z-index: 1;
  }
  
  .content-divider>span, .content-divider>a {
      background-color: #fff;
      color: #000;
      display: inline-block;
      padding: 2px 12px;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: 500;
  }
  
  .content-divider>span:before, .content-divider>a:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 1px;
      background-color: #ddd;
      width: 100%;
      z-index: -1;
  }
  
  .social-login .btn-img {
      width: 30px;
      height: auto;
      padding: 0.6rem 0;
      margin-right: 15px;
  }
  
  .btn-img-linkedin {
      width: auto;
      height: 50px;
      padding: 0.6rem 0;
      margin-right: 10px;
  }
  
  .form-group .has-error {
      color: red;
  }