<div class="main-container">
	<div class="header-container">
		<mat-grid-list cols="3" rowHeight="100px">
			<mat-grid-tile>
				<div style="position: absolute; left: 0px;">
					<img src="" height="80px">
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div *ngIf="receiver !== null && receiver !== undefined && receiver !== ''" class="receiver-header">Talking
					to {{receiver}}</div>
			</mat-grid-tile>
			<mat-grid-tile class="user-header">
				Welcome, {{username}}
			</mat-grid-tile>
			
		</mat-grid-list>
	</div>

	<mat-grid-list class="chat-table" cols="8" rowHeight="550" gutterSize="20">
		<mat-grid-tile class="user-list-col wt-justify cell-border" [colspan]="2" [style.vertical-align]="'top'">
			<wt-userlist [username]="username" class="user-container" (receiverUpdated)="onReceiverChange($event)">
			</wt-userlist>
		</mat-grid-tile>
		<mat-grid-tile class="wt-justify cell-border" [colspan]="6">
			<wt-messages [username]="username" class="message-wrapper"></wt-messages>
		</mat-grid-tile>
	</mat-grid-list>
</div>