<div style="width: 100%; min-height: 480px;" class="message-col">
  <mat-list id="msg-container" class="message-container">
    <mat-list-item *ngFor="let message of filteredMessages" class="message-item"
      [style.background]="message.sender === username ? 'rgba(80,150,220, 0.4)':'rgba(150,150,150, 0.3)'">
      <mat-icon mat-list-icon>chat</mat-icon>
      <h4 mat-line><b>{{message.sender === username ? 'You': message.sender}}</b>: {{message.content}}</h4>
    </mat-list-item>
  </mat-list>
</div>

<div style="width:100%; height: 40px;">
  <mat-form-field style="width: 74%;">
    <input matInput placeholder="New message" [disabled]="channel === null || channel === undefined"
      class="message-input" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 ? sendMessage() : null">
  </mat-form-field>
  <button mat-raised-button [disabled]="channel === null || channel === undefined" style="width: 13%;"
    (click)="sendMessage()">Send</button>
    <button mat-raised-button [disabled]="channel === null || channel === undefined" style="width: 13%;"
    (click)="scrollToBottom()">scroll down</button>
</div>
